/* Importing Sans-Serif Font from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,600;1,800&display=swap');

/* Public */



body{
    margin: 0;
    padding: 0;
    color: var(--DarkBlue);
    background-color: var(--LightGrey);
    font-size: 1rem;
    font-family: sans-serif;
}

:root{
    --DarkBlue:#111517;
    --DarkGrey:#858585;
    --LightGrey:#fafafa;
    --White:#ffffff;
    --Shadow:#00000010;
}

a{
    text-decoration: none;
    color: var(--DarkBlue)
}

ul{
    list-style-type: none;
    padding: 0;
}


i{
    color: var(--DarkGrey)
}

/* End Of Public */




/* CSS For Mobile Devices */

h1{
    font-size: 1rem;
}

/* Header */

header{
    background-color: var(--White);
}

.h-8{
    min-height: 8vh;
}

/* Dark Mode */

label{
    font-size: 0.9rem;
}

/* Check box icon appearance none */

input[type="checkbox"] {
    appearance: none;
    cursor: pointer;
}

/* Replacing it with the moon icon */

input[type="checkbox"]:before {
    content: '\f186';
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
}

/* if darkmode is checked */

/* input[type="checkbox"]:checked:before {
    
} */

/* End Of Dark Mode */


/* End Of Header */


/* Main */

/* search */

[class*="col-"] {
    width: 100%;
}

input[type="search"]{
    min-height: 3rem;
    padding:1rem 30px 1rem 60px;
    border-color: transparent;
}

main .form-section i{
    position: absolute;
    top:50%;
    left:30px;
    transform: translate(-50%,-50%);
}

button{
    background-color: white;
}


/* select : This is the hardest */

.select-wrapper {
    background-color: var(--White);
    position: relative;
    display: inline-block;
    width: 60%;
}
  
.select-wrapper::after {
    content: '\f107';
    font-family: "Font Awesome 5 Free";
    width: 10px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    pointer-events: none;
}
  
select{
    appearance: none;
    padding:1rem 30px 1rem 30px;
    border: none;
    background-color: var(--White);
    font-size: 14px;
    color: var(--DarkBlue);
    text-overflow: ellipsis;
    white-space: nowrap;
}

select option{
    line-height: 20px;
}

select option:nth-child(1){
    display: none;
}

/* End of Select */


/* Cards */

.card-body{
    padding:0 0 1.5rem 2rem;
}

.card-body li{
    padding-bottom: 0.5rem;
}

/* End Of Card */

/* End Of Main */


/* End Of CSS For Mobile Devices */

