
/* For Tablets 768px or bigger */

@media only screen and (min-width: 768px) {
    /* public */

    .d-flexbox-column{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    /* main */

    /* form */

    .select-wrapper {
        width: 30%;
    }
    
    .card{
        width:45%;
    }

    /* End Of Main */
    
}


/* For Desktops 1440px or bigger */

@media only screen and (min-width:1440px) {
    /* Main */

    /* form */

    .select-wrapper {
        width: 13%;
    }
    

    /* Cards */

    .container-cards{
        width:90%;
    }
    
    /* End Of Main */

    /* Little Animation for Desktops */
    
    .card{
        width:22%;
        transition: all 0.5s;
    }
    
    .card:hover{
        box-shadow:none!important;
        transform: scale(0.95);
    }
}